.post-article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post-article-title {
    text-align: center;
    margin-bottom: 40px;
}

.post-article-form {
    display: flex;
    flex-direction: column;
}

.post-article-form input,
.post-article-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-article-form button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.post-article-form button:hover {
    background-color: #0056b3;
}

#contentArea {
    height: 200px; /* Adjust the height as needed */
}

/* Mobile responsive adjustments */
@media (max-width: 600px) {
    .post-article-form textarea, .post-article-form button {
        margin-bottom: 10px;
        padding: 8px;
        font-size: 14px;
        box-sizing: border-box;
    }

    #contentArea {
        height: 350px;
    }

    .post-article-form button {
        position: fixed;
        bottom: 0;
        left: 16px; /* Adjust these values as needed for desired padding */
        right: 16px;
        z-index: 1000;
    }

    .post-article-title {
        font-size: 24px;
    }
}