.post-article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post-article-title {
    text-align: center;
    margin-bottom: 40px;
}

.post-article-form {
    display: flex;
    flex-direction: column;
}

.post-article-form input,
.post-article-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-article-form button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.post-article-form button:hover {
    background-color: #0056b3;
}

#contentArea {
    height: 200px; /* Adjust the height as needed */
}